.box{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    background-color: brown;
    margin: 2px;
    padding: 30px;
    text-align: center;
    position: relative;

}
#b{
    position: absolute;
    top: 0px;
    right: 18px;
    
}
#c{
    position: absolute;
    bottom: 2px;
    left: 2px;
}
#d{
    position: absolute;
    bottom: 1px;
    right: 2px;
}
img{
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
}